
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/flexslider/jquery.flexslider-min.js"></script> 
<script src="/plugins/flexslider/flexslider.config.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/stellar.js"></script>
<script src="/js/classie.js"></script>
{{!-- <script src="/js/uisearch.js"></script> --}}
<script src="/js/jquery.cubeportfolio.min.js"></script>
<script src="/js/google-code-prettify/prettify.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
    <script type="text/javascript" src="/the-sweetalert-js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/the-sweetalert-js/sweetalert.js"></script>
<script>

$(document).ready(function() {
 
/*

$('.login').click(function(e){
            e.preventDefault();
            var dataForm = $('#login :input').serializeArray();
            
                
                console.log(dataForm);
            $.ajax({
                type: "POST",
                url: "/login",
                async:true,
                cache:false,
                data: dataForm,
                dataType: "html",
                success: function (response) {
                    var d = $.parseJSON(response);
                        //console.log(d);

                        let clientToken = d.token;
                        
                        console.log(clientToken);
                        window.localStorage.setItem('NodeCmsToken', clientToken);
                        let myAccess = window.localStorage.getItem('NodeCmsToken');
                        window.location.href = "/admin/"+myAccess;
                }
                });
          });
          */



});


</script>
</body>
</html>