<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="/admin">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>     
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_documents_alt"></i>
                          <span>Posts</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/admin/posts/view-posts">All Posts</a></li>
                          <li><a class="" href="/admin/posts/create-posts">Create Posts</a></li>
                      </ul>
                  </li>                
                  <li class="sub-menu">
                      <a class="" href="/admin/category">
                          <i class="icon_house_alt"></i>
                          <span>Category</span>
                      </a>
                  </li>                   
                  <li class="sub-menu">
                      <a class="" href="/admin/imgupload">
                          <i class="icon_house_alt"></i>
                          <span>Upload Img</span>
                      </a>
                  </li>                     
                  <li class="sub-menu">
                      <a class="" href="/admin/all-friends">
                          <i class="icon_house_alt"></i>
                          <span>Friends</span>
                      </a>
                  </li>                   
                  <li class="sub-menu">
                      <a class="" href="/admin/logout">
                          <i class="icon_house_alt"></i>
                          <span>Logout</span>
                      </a>
                  </li>  
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>